fastapi
uvicorn[standard]

python-dotenv
pydantic
pydantic-settings
email-validator
python-multipart

werkzeug
python-jose
bcrypt

google-genai

numpy
faiss-cpu
sentence-transformers
rank-bm25

PyMuPDF
Pillow
pytesseract

requests
